<%- include('pageHeader') %>

<h1>
    <%= title %>: <%= author.full_name %>
</h1>

<p>
    <%= author.lifespan %>
</p>

<% if(author_books.length) { %>
<p><strong>Delete the following books before attempting to delete this author</strong></p>
<div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>
    <dl>
        <% for(const x of author_books) { %>
        <dt>
            <a href="<%= x.url %>">
                <%= x.title %>
            </a>
        </dt>

        <dd>
            <%= x.summary %>
        </dd>
        <% } %>
    </dl>
</div>
<% } else { %>
<p>
    Do you really wanna delete this author?
</p>

<form method="post" action="">
    <div class="form-group">
        <input type="hidden" id="author_id" class="form-control" name="author_id" required="true" value="<%= author._id %>">
    </div>

    <button class="btn btn-primary" type="submit">
        Delete author
    </button>
</form>
<% } %>

<%- include('pageFooter') %>