<%- include('pageHeader') %>

<h1>
    <%= title %>
</h1>

<ul>
    <% if (!Array.isArray(author_list) || !author_list.length) { %>
    <li>
        There are NO authors :(
    </li>
    <% } %>

    <% for( const x of author_list ) { %>
    <li>
        <a href="<%= x.url %>">
            <%= x.full_name %>
        </a>
        | ( <%= x.lifespan %> )
    </li>
    <% } %>
</ul>

<%- include('pageFooter') %>